<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
    <servlet-name>timeservlet</servlet-name>
    <servlet-class>TimeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>timeservlet</servlet-name>
    <url-pattern>/what-time-is-it</url-pattern>
  </servlet-mapping>
</web-app>
